<div class="row">
    <div class="input-field col s12">
          <input placeholder="Enter your zip" id="zip" type="text" class="validate">
          <label for="zip">Zip Code</label>
        </div>
    <div class="col s12">
        <a id="sendZip" class="waves-effect waves-light btn">Find</a>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div id="results" class="card"></div>
    </div>
</div>